/* Font styles */
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Merriweather:wght@400;700&display=swap');

/* Reset defaults */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Color variables */
:root {
    --primary-color: rgba(22, 0, 0, 1);
    --secondary-color: rgba(255, 255, 255, 0.7);

    --secondary-color-h1: rgba(255, 255, 255, 1);

    --gradient-start-color: rgba(238, 174, 202, 1);
    --gradient-end-color: rgba(148, 187, 233, 1);

    --default-text-color: rgba(0, 0, 0, 0.8);
    --text-color: rgba(0, 0, 0, 0.8);
    --background-color: rgba(0, 0, 0, 0);

    --red-color-1: rgba(255, 0, 0, 1);
    --red-color-2: rgba(255, 0, 0, 0.7);
}

/* General styles */
body {
    font-family: 'Merriweather', sans-serif;
    background-color: var(--background-color);
    cursor: default;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* background: rgba(0, 0, 0, 1); */
    background: radial-gradient(circle, rgba(238, 174, 202) 0%, rgba(148, 187, 233) 100%);
    padding: 0;
    margin: 0;
    margin-bottom: 3rem;
    overflow: hidden;
}

main {
    height: 0;
    position: relative;
    z-index: 0;
}

/* Header styles */
.container {
    flex: 1;
    display: none;
    justify-content: center;
    align-items: center;
    padding: 2rem .75rem 1rem .75rem;
    background-image: radial-gradient(circle, var(--gradient-start-color) 0%, var(--gradient-end-color) 100%);
}

.container h1 {
    
    font-size: 1.75rem;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-align: center;
    color: var(--secondary-color-h1);
    box-shadow: 0 16px 20px rgba(0, 0, 0, .3);
    text-shadow: 4px 4px 4px var(--primary-color);
    padding: 1.25rem;
    border-radius: 5px;
    width: 100vw;
    background-color: rgba(0, 0, 0, .05);
}

/* Main styles */

/* Tour Styles */
.tour-container {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5rem;
    background-color: rgba(0, 0, 0, .2);
    border-radius: 5px;
    margin: 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    z-index: 9;
}

.tour-container h2, .tour-container p{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    font-size: .65rem;
    text-align: center;
    color: var(--primary-color);
    margin: .1rem;
    padding: .2rem;
    border-radius: 5px;
}
/* Side Bar  styles */

#side-bar-close-btn {
    position: absolute;
    cursor: pointer;
    display: none;
    top: 50%;
    right: -1.5rem;
    font-size: 2rem;
    color: var(--primary-color);
    /* -webkit-text-stroke: .75px rgba(255, 255, 255, 1); */
    z-index: 9;
}

#side-bar {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 25%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(1px);
    position: fixed;
    top: 0;
    left: -5rem;
    z-index: 1;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 0;
    border: 0;
    margin: 0 auto;
    cursor: pointer;
    font-size: 2rem;
    padding: 2rem;
    color: var(--primary-color);
}

.button-container p {
    font-size: 2rem;
    color: var(--primary-color);
    margin-bottom: .5rem;
    padding: .5rem;
    display: none;
}

#favorites-btn,
#show-history-btn,
#dark-mode-btn,
#github-link-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: 0;
    border: 0;
    margin: 0 auto;
    cursor: pointer;
    font-size: 1.75rem;
    padding: 2rem;
    color: var(--primary-color);
}

#favorites-btn:hover,
#show-history-btn:hover,
#dark-mode-btn:hover,
#github-link-btn:hover {
    color: var(--red-color-2);
    transform: scale(1.3);
    transition: transform 0.3s ease;
}

#side-bar a {
    text-decoration: none;
    color: var(--primary-color);
}

/* Search styles */
.search {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    flex-direction: column;
}

input {
    background: var(--secondary-color) url(../images/icons/magnifying-glass-solid.svg) no-repeat 95% center;
    color: var(--primary-color);
    padding: .75rem;
    border-radius: 10px;
    border: 0;
    outline: none;
    font-size: 1rem;
    width: 90%;
}

input::placeholder {
    text-align: center;
}

#search-history {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, .1);
    padding: .5rem;
    margin-top: 0;
}

#search-history a {
    text-decoration: none;
    color: var(--default-text-color);
    font-size: 1rem;
    margin: .25rem;
    padding: .25rem;
    border-bottom: 1px dashed var(--secondary-color);
}

#search-history a:hover {
    padding: .75rem;
    color: var(--red-color-2);
    background-color: var(--secondary-color);
    border-radius: 10px;
    border-bottom: 0;
    transform: scale(1.3);
    transition: transform 0.3s ease;
}

#search-history h4 {
    font-size: 1.15rem;
    margin-bottom: .5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--primary-color);
}

/* Error Messages */
body>button {
    width: 50%;
    height: 2rem;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 2.5rem;
    /* margin: 0 auto; */
    margin-top: 1rem;
    background: var(--red-color-2);
    color: white;
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: bold;
    border: 0;
    border-radius: 10px;
    padding: 1.5rem;
    z-index: 9;
}

.error-message {
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--red-color-2);
    width: 90%;
    margin: .5rem auto;
    padding: 1.5rem;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

#error-message-user-forecast {
    margin: .5rem auto;
}

#error-message-user-location {
    margin: .5rem auto;
}

.spinner {
    display: none;
    font-weight: bold;
    color: var(--red-color-1);
    width: 100%;
    height: 100%;
    margin-top: 1rem;
    padding: 1.5rem;
}

.spinner .fa-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    margin: 0 auto;
}

/* Favorites styles */
.fa-heart {
    color: var(--secondary-color);
    font-size: 1.25rem;
    cursor: pointer;
    position: fixed;
    top: 0;
    right: 0;
    padding: .75rem;
}

#favorite-weather {
    display: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
    color: var(--text-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

#favorite-weather h4 {
    font-size: 1.15rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: var(--primary-color);
}

.favorite {
    margin: .25rem;
}

.favorite a {
    text-decoration: none;
    color: var(--default-text-color);
    cursor: pointer;
    padding: .35rem;
    margin: .5rem;
    border-bottom: 1px dashed var(--secondary-color);
}

.favorite a:hover {
    padding: .75rem;
    color: var(--red-color-2);
    background-color: var(--secondary-color);
    border-radius: 10px;
    border-bottom: 0;
}

#favorite-weather>div:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

#clear-favorites-btn {
    display: none;
    background: 0;
    border: 0;
    margin: 0 auto;
    bottom: .4rem;
    right: .4rem;
    cursor: pointer;
    position: fixed;
    font-size: 0.75rem;
    color: var(--secondary-color);
    background-color: rgba(0, 0, 0, .1);
    border-radius: 50%;
    padding: .5rem;
    z-index: 9;
}

#clear-favorites-btn:hover {
    color: var(--red-color-1);
    background-color: var(--secondary-color);
}

/* Weather info styles */
.current-info {
    display: flex;
    background-color: transparent;
}

#current-flag {
    margin-top: 0 !important;
    width: 16px;
    height: 16px;
}

#current-flag,
#current-feels-like,
#current-max,
#current-min,
#current-sunrise,
#current-sunset,
#current-desc,
#current-wind,
#current-humidity,
#current-time,
#current-location,
#temperature-now {
    display: flex;
    text-align: center;
    color: var(--primary-color);
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: .1rem;
    font-size: .85rem;
    padding: 0rem;
    justify-content: space-between;
    margin-top: 0rem;
    margin-left: 1rem;
    margin-right: 1rem;
    font-style: italic;
}


#scrolling-container {
    white-space: nowrap;
    display: none;
    flex-direction: row;
    background: radial-gradient(circle, var(--gradient-start-color) 0%, var(--gradient-end-color) 100%);
    width: 100%;
    height: 1.5rem;
    position: fixed;
    bottom: 19px;
}

#scrolling-text {
    position: fixed;
    bottom: .55rem;
    padding: 0;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 1;
}

/* Description styles */
.weather-container {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem;
    background: var(--background-color);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    display: none;
    z-index: 9;
}

.weather-container div {
    padding: .2rem;
}

#location {
    font-weight: bold;
    text-transform: uppercase;
}

#country {
    display: none;
}

#weather-desc {
    position: relative;
    text-transform: capitalize;
    font-weight: bold;
}

#refresh-button {
    background: 0;
    color: var(--primary-color);
    background-color: rgba(0, 0, 0, .05);
    padding: .5rem;
    margin: 0.35rem;
    border-radius: 50%;
    border: 0;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    right: 0;
}

#refresh-button:hover {
    background-color: var(--secondary-color);
}

#last-updated {
    font-size: .65rem;
    color: var(--primary-color);
    text-align: center;
    position: absolute;
    bottom: -1rem;
    right: .35rem;
}

#temperature-toggle-btn {
    background: rgba(0, 0, 0, .02);
    padding: .25rem;
    border: 0;
    margin: .4rem;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 30%;
    color: var(--primary-color);
}

#temperature-toggle-btn:hover {
    background-color: rgba(0, 0, 0, .1);
}

/* Forecast styles */
#weather,
#forecast {
    margin-bottom: 1.2rem;
}

#forecast {
    display: none;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 1rem;
    color: var(--default-text-color);
    text-transform: capitalize;
    background-color: rgba(255, 255, 255, 0.1);
}

#forecast h4 {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: .05rem;
}

#forecast>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin: .25rem auto;
    padding: .25rem;
    background: var(--background-color);
    border-radius: 16px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    margin-bottom: .1rem;
}

#forecast div:hover {
    background: rgba(255, 255, 255, .5)
}

.forecastF,
.forecastC {
    font-weight: bold;
}

#forecast div {
    font-style: italic;
}

.forecastF {
    display: none;
}

#forecast-btn {
    background: 0;
    border: 0;
    margin: 0 auto;
    margin-right: 2rem;
    bottom: -.35rem;
    cursor: pointer;
    position: absolute;
    font-size: 1.25rem;
    font-weight: bold;
    color: var(--text-color);
}

#forecast-btn:hover {
    color: var(--red-color-1);
}

/* Google Chart */
#chart_div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    position: relative;
    bottom: 2rem;
    left: 0;
    right: 0;
    z-index: 0;
    margin-bottom: .5rem;
}

#chart_div>div>div:nth-child(1)>div>svg>g:nth-child(3)>text {
    fill: var(--default-text-color);
}

#chart_div>div>div:nth-child(1)>div>svg>rect {
    fill: rgba(255, 255, 255, 0.5);
}

#chart-btn {
    display: flex;
    background: 0;
    border: 0;
    margin: 0 auto;
    margin-left: 2rem;
    bottom: 0rem;
    cursor: pointer;
    position: absolute;
    font-size: 1.25rem;
    font-weight: normal;
    color: var(--text-color);
}

#chart-btn:hover {
    color: var(--red-color-1);
}

/* Footer Styles */
footer {
    flex-shrink: 0;
    background-color: rgba(0, 0, 0, 1);
    font-size: .75rem;
    color: white;
    position: fixed;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    padding: .3rem;
    flex-direction: column;
    text-align: center;
    z-index: 2;
}

/* Media Queries */
@media screen and (min-width: 767px) {

    /* Header styles */
    .container h1 {
        width: 90%;
        font-size: 2rem;
    }

    /* Main styles */
    input {
        width: 90%;
    }

    /* Side Bar styles */
    .button-container p {
        font-size: 1.25rem;
    }

    /* 404 styles */
    #location404 {
        width: 75%;
    }

    body>button {
        width: 25%;
    }

    /* Favorites styles */
    #favorite-weather {
        width: 90%;
    }

    /* Forecast styles */
    #forecast div {
        width: 90%;
        font-size: .75rem;
    }

    #forecast {
        flex-direction: row;
    }

    #forecast h4 {
        margin-right: .75rem;
    }

    /* Google Charts styles */
    #chart_div {
        transform: scale(0.9);
    }
}

@media screen and (min-width: 1024px) {

    /* Header styles */
    .container h1 {
        width: 75%;
        font-size: 3rem;
    }

    /* Main styles */
    input {
        width: 75%;
    }

    #search-history {
        width: 75%;
    }

    /* Tour Styles */
    .tour-container {
    margin: 3rem 5rem;
    }
    .tour-container h2, .tour-container p{
        font-size: 1rem;
    }

    /* Side Bar styles */
    .button-container p {
        display: flex;
    }

    #side-bar-close-btn {
        font-size: 2.5rem;
        right: -1.95rem;
    }

    /* Favorites styles */
    #favorite-weather {
        width: 75%;
    }

    /* Description styles */
    .weather-container {
        width: 75%;
    }

    /* Forecast styles */
    #forecast div {
        font-size: 1rem; 
        width: 75%;
    }

    #forecast {
        flex-direction: row;
    }

    #forecast h4 {
        margin-right: .75rem;
    }

    /* Google Charts styles */
    #chart_div {
        transform: scale(0.75);
    }
}

/* Animations */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.dark-mode {
    display: flex;
}

/* GSAP Animation */

.intro {
    display: flex;
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 10;
}

.intro.grid,
.intro.columns {
    align-content: stretch;
    align-items: stretch;
    flex-wrap: wrap;
}

.block {
    text-align: center;
    color: black;
    font-size: 1rem;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px;
}

.intro.grid .block {
    flex-basis: 50%;
}

.intro.columns .block {
    flex-basis: 25%;
}

.logo-weather,
.logo-now {
    font-size: 2rem;
    color: white;
}

.logo-weather {
    font-weight: 300;
    display: none;
}

.logo-now {
    padding: 2px 0;
    font-weight: 600;
    display: none;
}

.intro.final .logo-weather,
.intro.final .logo-now {
    display: block;
}

.b1 {
    background: #ffc8dd;
    color: transparent;
}

.b2 {
    background: #ffafcc;
    color: transparent;
}

.b3 {
    background: #bde0fe;
    color: transparent;
}

.b4 {
    background: #a2d2ff;
    color: transparent;
}

.intro.plain .block {
    background: 0;
    color: transparent;
    margin-right: .25rem;
    font-size: 2rem;
}